<div id="dev">
<hr>
    {% load static %}
    Created by: <br>
    <a href="/page/tech">
    <!--a href="http://justin.fuhrmeister-clarke.com/page/tech"-->
        <img alt="Justin Furhmeister-Clarke Technical Services" title="Justin Furhmeister-Clarke Technical Services" id="footer_logo" src='{% static "justin/images/JFC-TS.svg" %}' />
    </a>
</div>
<style>
    #dev{
        margin-left:auto;
        margin-right:auto;
    }
    #footer_logo{
        width:60px;
        height:auto;
    }
</style>
